platformName=iOS
platformVersion=12.0
deviceName=mpermperpisang
automationName=XCUITest
newCommandTimeout=60
app=/Users/mpermperpisang/Documents/project/golang-automation-v1/features/demo/apps/ios.app
