platformName=Android
deviceName=
udid=
platformVersion=
browserName=
noSign=true
fullReset=false
app=
netspeed=full
autoGrantPermissions=true
skipLogcatCapture=true
disableWindowAnimation=true
deviceReadyTimeout=2
automationName=Espresso
Port=4723
Debug=true
espressoServerLaunchTimeout=
Address=
