platformName=Android
automationName=Espresso
platformVersion=
app=
deviceName=
udid=
fullReset=true
netspeed=full
noSign=false
espressoBuildConfig=/Users/mpermperpisang/project/go/src/github.com/golang-automation/buildconfig.json
appWaitActivity=
forceEspressoRebuild=false
uninstallOtherPackages=
autoGrantPermissions=false
screenshotpath=/Users/mpermperpisang/Documents/Screenshot/
skipDeviceInitialization=true
skipServerInstallation=true
ignoreUnimportantViews=true
