platformName=Android
platformVersion=11
automationName=UiAutomator2
deviceName=MMP-Realme
app=/Users/mpermperpisang/Documents/project/golang-automation/features/demo/apps/android.apk
newCommandTimeout=60
