platformName=iOS
automationName=XCUITest
newCommandTimeout=60
platformVersion=
app=
deviceName=
fullReset=true
autoAcceptAlerts=true
xcodeOrgId=
xcodeSigningId=iPhone Developer
udid=
xcodeConfigfile=/usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent/Config.xcconfig
useNewWDA=true
showXcodeLog=true
