BROWSER =
ACCOUNT_BASE_URL =
ACCOUNT_BASE_URL_2 =
DWEB_BASE_URL =
MWEB_BASE_URL =
API_BASE_URL =
API_BASE_URL_2 =
API_BASE_URL_3 =
URL =
URL_2 =
ENDPOINT =
ENDPOINT_2 =
ENDPOINT_3 =
ENDPOINT_4 =
AUTH_ENDPOINT =
USER_AGENT =
USER_USERNAME =
USER_PASSWORD =
API_CLIENT_ID_130 =
API_CLIENT_SECRET_130 =
API_CLIENT_ID_136 =
API_CLIENT_SECRET_136 =
NAME =
START_TIME =
END_TIME =
PRICE =
EMAIL_STAKEHOLDERS =
EVENT_ID =
OTP = 
