BROWSER =
ACCOUNT_BASE_URL =
DWEB_BASE_URL =
MWEB_BASE_URL =
API_BASE_URL =
URL =
ENDPOINT =
AUTH_ENDPOINT =
USER_AGENT =
USER_USERNAME =
USER_PASSWORD =
USER_PHONE_NUMBER =
USER_PHONE_USERNAME =
USER_PHONE_PASSWORD =
API_CLIENT_ID_PREPROD =
API_CLIENT_SECRET_PREPROD =
GRANT_TYPE =
SCOPE =
NAME =
START_TIME =
END_TIME =
PRICE =
EMAIL_STAKEHOLDERS =
EVENT_ID =
OTP =
JSON_PATH =
CONTENT_TYPE =
IDENTITY =
COMPANY_ID =
